{
    "printWidth": 80,
    "endOfLine": "lf",
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        },
        {
            "files": "*.md",
            "options": { "parser": "markdown" }
        }
    ]
}
